@import 'src/styles/variables';
@import 'src/styles/buttons';

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  label {
    display: flex;

  }
  .labelName {
    display: flex;
    text-align: center;
    align-self: center;
    margin-right: 1rem;
  }
  .formInput {
    padding: 1rem;
    border-radius: 5px;
    border: $border;
    outline: none;
    width: 400px;

    &:focus {
      border-color: #999;
    }

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;


    @media (max-width: 1200px) {
      flex-direction: column;
    }

    .continueButton {
      margin-left: 1rem;
      @extend .button;
      @extend .button--primary;

      @media (max-width: 1200px) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }

    .backButton {
      margin-left: 1rem;
      @extend .button;
      @extend .button--danger;

      @media (max-width: 1200px) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }




}
